/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここから書き始める */

/* index.html */
body {
    color: #484848;
    font-family: Noto Sans JP,sans-serif,-apple-system,BlinkMacSystemFont,Helvetica,Arial;
    background: white;
    font-size: 16px;
    height: 100%; 
}

a {
    color: #484848;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: bottom;
}

h1, h2, h3 {
    font-weight: normal;
}

/* header */
.header_inner {
    height: 80px;
    /* background-color: #F4FCFF; */
}

.header_logo {
    height:80px;
}

.header_logo a {
    margin-left: 52px;
}

.header_logo img {
    height: 80px;
    width: auto;
}

.header_genre_area {
    height: 100px;
    border-top: 1px solid #00641C;
    border-bottom: 1px solid #00641C;
}

.genre_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 16px;
}

.header_genre {
    width: 100px;
    margin: 10px auto;
    text-align: center;
}

.genre_list li {
    width: 12%;
    height: 100px;
}

.header_genre a {
    display: block;
    height: 100%;
    width: 100%
}

.genre_list span {
    display: block;
}

.genre_icon {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.restaurant_text {
    color: #F98007;
}

.beauty_salon_text {
    color: #0DA8F7;
}

.clothes_shop_text {
    color: #42FF00;
}

.entertainment_text {
    color: 	#E07CFB;
}

.gym_text {
    color: 	#FFE300;
}

.works_text {
    color: #3AABD2;
}

.leisure_text {
    color: 	#FF0000;
}

.encounter_text {
     color: #FFBAF5;
}

/* .top_view {
    background: url(./image/top_img.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.top_view .container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.top_view h1 {
    font-size: 64px;
    letter-spacing: 0.4em;
}


.top_view {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    color: #fff;
}
  
.top_view::before {
     content: '';
     display: block;
     width: 100%;
     height: 100%;
     background-image: url(./image/top_img.jpg) ;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     -webkit-animation: zoom 10s 1;
     animation: zoom 10s 1;
     animation-fill-mode: forwards;
}
  
  @keyframes zoom {
     0% {
        transform: scale(1);
     }
     100% {
        transform: scale(1.5);
     }
  }
  
  .top_view .container{
    /*wrapperの中身を上下中央揃え*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 120px;
    left: 0;
    margin: auto;
    width: 400px;
    height: 50px;
    text-align: center;
  }



.explanatory_text {
    font-size: 20px;
    padding-top: 50px;
    line-height: 1.5;
    letter-spacing: 0.4em;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    color: #00641C;
    font-size: 30px;
    margin: 90px 0 48px 0;
}

.search_icon {
    height: 30px;
    width: auto;
    margin-right: 12px;
}

.content {
    width: 24%;
    position: relative;
    margin-bottom: 16px;
    transition-duration: 0.5s;
}

.content:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.content a {
    display: block;
    height: 100%;
    width: 100%;
}

.content img {
    width: 100%;
    cursor: pointer;
}

.content p {
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.event-table {
    width: 60%;
    margin: 0 auto;
}

.event-table td{
    text-align: right;
}

.event-table th {
    text-align: left;
}

.event-table td,.event-table th{
    padding: 20px 10px;
    border-bottom: dotted 1px #DEDEDE;
    font-size: 18px;
    font-weight: normal;
}

.event-table tr:first-child td,.event-table tr:first-child th{
    padding: 0 10px 10px;
}

.button {
    margin: 40px 0 120px 0;
    display: inline-block;
    width: 40%;
    padding: 12px;
    color: #00641C;
    cursor: pointer;
    border: 1px solid #00641C;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 2px 0px 1px #d9d9d9;
    -moz-box-shadow: 1px 2px 0px 1px #d9d9d9;
    -webkit-box-shadow: 1px 2px 0px 1px #d9d9d9;
}

/* footer */
footer {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-top: 1px solid #00641C;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer_info {
    height: 30px;    
    line-height: 30px;  
}

.list_footer_info li {
    float: left;
    margin-right: 18px;
}

.list_footer_info a {
    text-decoration: underline;
    color: #737373;
}

.copyright {
    font-size: 10px;
    color: #737373;
}

.copyright p {
    height: 30px;    
    line-height: 30px;
}

.genre_container {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.list_area {
    width: 50%;
}

.data_content {
    /* background-color: #00A0E8; */
    margin: 30px 20px;
    border: 1px solid #000;
}

.data_title {
    padding: 10px 0 7px 10px;
    background-color: #d9d9d9;
}

.data_description {
    padding: 10px 0 6px 10px;
}

.data_content h1 {
    font-size: 28px;
    padding-bottom: 10px;
}

.data_content h2 {
    font-size: 18px;
    /* margin-bottom: 14px; */
}

.data_content p {
    font-size: 14px;
    margin-bottom: 6px;
}

.map_area {
    /* background-color: #42FF00; */
    width: 50%;
    height: 300px;
}